    /*Mobile Design*/

@media screen and (max-width: 601px) {
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        text-align: center;
    }
  
   
    .slideshow-container {
        display: none;
    }
   
    .container {
        margin-left: auto 0;
        margin-right: auto 0;
    }
   .courses p{
        color: white;
    }
    
     .courses h4{
        color: white;
    }
      .courses h3{
        color: white;
    }
    
    .width-h2{
        text-align: center;
    }
    
    #content {
        display: inline-block;
        padding-top: 121px;
        width: 100%;
        margin-top: -34%
    }
    .snip1543 figcaption h3 {
        font-size: 20px;
        margin-top: -10%;
    }
    .snip1543 figcaption p {
        font-size: 10px;
    }
    .snip1543 p {
        margin-top: -10%;
        font-weight: bold;
    }
    nav {
        width: 100%;
        background-color: black;
        opacity: 0.7;   
    }
   
    h1 {
        text-align: center;
        font-size: 2em;
        color: #fff;
    }
    h2 {
        color: black;
        background: #b81212;
        padding-top: 7%;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 2%;
    }
    h3 {
        font-weight: bold;
    }
    figcaption h5 {
        margin-top: -12%;
    }
    .snip1543 figcaption p {
        width: 200px;
        background: #b81212;
        opacity: .8;
        margin-top: 10%;
        font-size: 13px;
    }
    ul {
        width: 100%;
        display: none;
        padding: 0;
    }
    ul li {
        list-style: none;
        padding: 20px;
        display: block;
        text-align: center;
    }
    ul li:hover {
        background: rgb(255, 0, 0);
    }
    ul li a {
        color: #fff;
        text-decoration: none;
    }
    .toggle {
        width: 100%;
        padding: 10px 20px;
        background: black;
        text-align: right;
        box-sizing: border-box;
        color: #fff;
        font-size: 30px;
        display: block;
    }
    .registration {
        display: inline-block;
        height: 700px;
        width: 900px;
        background: #b81212;
    }
    .run img {
        width: 100%;
        height: 100%;
        ;
    }
  
    .left {
        text-align: left;
    }
    dt {
        font-size: 30px;
    }
    dd {
        font-size: 21px;
    }
    .active {
        display: block;
    }
    .active-nav {
        background-color: #b81212;
    }
    article {
        background-color: #b81212;
        padding: 15%;
    }
    article:nth-child(odd) {
        background-color: #b81212;
        padding: 15%;
    }
    article:nth-child(even) {
        background: black;
    }
    .column {
        padding: 25%;
        margin: 5%;
    }
    .weather {
        padding: 0px;
        margin-top: -3%;
    }
    .red {
        color: #fff;
        margin-top: -10%;
        padding: 5%;
        background-color: #b81212;
    }
    .black {
        color: #fff;
        margin-bottom: -10%;
        margin-top: -10%;
        padding: 5%;
        background-color: black;
    }
    
    
    .article-contact{
        margin-top: -5%;
    }
    footer {
        background: grey;
        height: 100px;
    }
    .icons {
        padding: 4%;
    }
   
}


/*===INTERACTIVE PHOTOS===*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 10px 5px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1543 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1543:before,
.snip1543:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #b81212;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1543:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
}

//TEXT IN BOX
.snip1543 h3,
.snip1543 p {
    margin: 0;
    opacity: 0;
    letter-spacing: .5px;
}

.snip1543 h3 {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.snip1543 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


/* STYLING FOR TABLET IN PORTRAIT */

@media only screen and (min-width: 481px) {
    .container{
        padding-bottom: 8%;
    }
    
   
    
     .black {
        color: #fff;
        margin-bottom: -10%;
        margin-top: -10%;
        padding: 5%;
        background-color: black;
    }
   
    h2 {
        color: black;
        background: #b81212;
        padding: 2%;
        text-align: center;
        margin-top: -1%;
    }
    .fix {
        margin-bottom: 30%;
    }
    
      .article-contact{
        margin-top: -5%;
    }
    ul {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    ul li {
        list-style: none;
        display: inline-block;
        padding: 20px;
    }
    ul li:hover {
        background: rgb(255, 0, 0);
    }
    ul li a {
        color: #fff;
        text-decoration: none;
    }
    .toggle {
        width: 100%;
        padding: 10px 20px;
        background: #001f44;
        text-align: right;
        box-sizing: border-box;
        color: #fff;
        font-size: 30px;
        display: none;
    }
    nav {
        display: contents;
        background-color: black;

    }
    nav ul {
        display: block;
    }
    article:nth-child(odd) {
        background-color: #b81212;
        padding: 15%;
    }
    article:nth-child(even) {
        background: black;
    }
    .red {
        color: #fff;
        margin-top: -10%;
        padding: 5%;
        background-color: black;
    }
 
    #content {
        display: inline-block;
        padding-top: 121px;
        width: 100%;
        margin-top: -19%
    }
    footer {
        bottom: 0;
        background: grey;
        width: 100%;
    }
    .icons{
        padding: 4%;
    }
    .social-feeds{
        margin-top: -35%;
    }
       .courses p{
        color: white;
    }
    
     .courses h4{
        color: white;
    }
      .courses h3{
        color: white;
    }
    
}


/*

DESKTOP STYLESHEET

The following CSS affects all screen sizes larger than 1024 pixels wide.

*/

@media only screen and (min-width: 1025px) {
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    h2{
        color: black;
    }
    nav {
        width: 100%;
    }
    ul {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    ul li {
        list-style: none;
        display: inline-block;
        padding: 20px;
    }
    ul li:hover {
        background: rgb(255, 0, 0);
    }
    ul li a {
        color: #fff;
        text-decoration: none;
    }
    .toggle {
        width: 100%;
        padding: 10px 20px;
        background: #001f44;
        text-align: right;
        box-sizing: border-box;
        color: #fff;
        font-size: 30px;
        display: none;
    }
    nav {
        display: contents;
        background-color: black;
    }
    nav ul {
        display: block;
        background-color: black;
    }

    article:nth-child(odd) {
        background-color: #b81212;
        padding: 15%;
    }
    article:nth-child(even) {
        background: black;
    }
    #content {
        display: inline-block;
        padding-top: -121px;
        width: 100%;
        margin-top: -9.8%
    }
       .courses p{
        color: white;
    }
    
     .courses h4{
        color: white;
    }
     .courses h3{
        color: white;
    }
    
  
    footer {
        width: 100%;
        height: 210px;
        background: grey;
    }
    /*===INTERACTIVE PHOTOS===*/
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
    @import url(https://fonts.googleapis.com/css?family=Teko:700);
    .snip1543 {
        background-color: #fff;
        color: #ffffff;
        display: inline-block;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        margin: 20px 45px;
        max-width: 415px;
        min-width: 230px;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .snip1543 *,
    .snip1543 *:before,
    .snip1543 *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
    }
    .snip1543 img {
        backface-visibility: hidden;
        max-width: 100%;
        vertical-align: top;
    }
    .snip1543:before,
    .snip1543:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-color: #b81212;
        opacity: 0.5;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
    }
    .snip1543:before {
        -webkit-transform: skew(30deg) translateX(-80%);
        transform: skew(30deg) translateX(-80%);
    }
    .snip1543:after {
        -webkit-transform: skew(-30deg) translateX(-70%);
        transform: skew(-30deg) translateX(-70%);
    }
    .snip1543 figcaption {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 1;
        bottom: 0;
        padding: 25px 40% 25px 20px;
    }
    .snip1543 figcaption:before,
    .snip1543 figcaption:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #b81212;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        content: '';
        opacity: 0.5;
        z-index: -1;
    }
    .snip1543 figcaption:before {
        -webkit-transform: skew(30deg) translateX(-100%);
        transform: skew(30deg) translateX(-100%);
    }
    .snip1543 figcaption:after {
        -webkit-transform: skew(-30deg) translateX(-90%);
        transform: skew(-30deg) translateX(-90%);
    }
    .snip1543 h3,
    .snip1543 p {
        margin: 0;
        opacity: 0;
        letter-spacing: 1px;
    }
    .snip1543 h3 {
        font-family: 'Teko', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
    }
    .snip1543 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .snip1543:hover h3,
    .snip1543.hover h3,
    .snip1543:hover p,
    .snip1543.hover p {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.9;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .snip1543:hover:before,
    .snip1543.hover:before {
        -webkit-transform: skew(30deg) translateX(-20%);
        transform: skew(30deg) translateX(-20%);
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }
    .snip1543:hover:after,
    .snip1543.hover:after {
        -webkit-transform: skew(-30deg) translateX(-10%);
        transform: skew(-30deg) translateX(-10%);
    }
    .snip1543:hover figcaption:before,
    .snip1543.hover figcaption:before {
        -webkit-transform: skew(30deg) translateX(-40%);
        transform: skew(30deg) translateX(-40%);
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }
    .snip1543:hover figcaption:after,
    .snip1543.hover figcaption:after {
        -webkit-transform: skew(-30deg) translateX(-30%);
        transform: skew(-30deg) translateX(-30%);
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    .snip1543 figcaption p {
        font-size: 17px;
        width: 300px;
    }
    .snip1543 figcaption h3 {
        margin: 5%;
    }
    /*===INTERACTIVE PHOTOS===*/
    /*SLIDESHOW*/
    * {
        box-sizing: border-box
    }
    body {
        font-family: Verdana, sans-serif;
        margin: 0
    }
    .mySlides1 {
        display: none
    }
    img {
        vertical-align: middle;
    }
    /* Slideshow container */
    .slideshow-container {
        max-width: 2000px;
        position: relative;
        margin: auto;
    }
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a grey background color */
    .prev:hover,
    .next:hover {
        background-color: #f1f1f1;
        color: black;
    }
    /*----SLIDESHOW END----*/
